{% extends locals.layouts + '/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
{% for site in sites %}
<p>
 {{site.name}} - {{site._id}}
</p>
{% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}
