{% extends locals.path + '/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
{% for site in sites %}
<p>
 <a href="/u/site/{{site._id}}">{{site.name}}</a>
</p>
{% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}
