{% extends locals.path + '/u.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<script src="{{ url }}/socket.io/socket.io.js"></script>

{{ token }}
{% endblock %}

{% block scripts %}
{% endblock %}
