{% extends locals.path + '/u.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>برای استفاده از این سرویس، کد زیر را به کد های سایتتان اضافه کنید</h1>
<script src="{{ url }}/socket.io/socket.io.js"></script>
{{ token }}
{% endblock %}

{% block scripts %}
{% endblock %}
