@import '~Root/styles/colors.less';
@import '~Root/styles/mixins.less';

:local(.chat) {
  width: 180px;
  height: auto;
  margin: 15px;
  background-color: white;
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  .boxShadow();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 150px;

  h1 {
    font-size: 19px;
  }

  a {
    display: block;

    &:hover, &:active {
      text-decoration: underline;
    }
  }

  p, span {
    color: #333;
    font-size: 14px;
  }

  > span:nth-of-type(1) {
    margin: 5px 10px;
  }
}

:local(.title) {
  .headerTitle();
}
