@import '~Root/libs/colors.less';

:local(.header) {
  padding: 10px 40px;
  width: 100%;
  height: auto;
  background-color: @midnight-base;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  ul {
    list-style: none;

    li {
      display: inline;
      margin: 0 20px;

      a {
        font-size: 16px;
        color: white;
        position: relative;
        display: inline-block;

        &::before, &::after {
          position: absolute;
          color: transparent;
          display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    top: 50%;
          transition: all 0.3s;
        }

        &::before {
          content: ']';
          left: -15px;
          transform: translate(-20px, -50%) scale(0.5, 0.5);
        }

        &::after {
          content: '[';
          right: -15px;
          transform: translate(20px, -50%) scale(0.5, 0.5);
        }

        &:hover::before, &:hover::after {
          color: white;
          transform: translate(0px, -50%) scale(1, 1);
        }

        &:hover {
          color: #eee;
        }
      }
    }
  }
}

:local(.titleName) {
  font-family: SB;
  color: white;
  text-shadow: 2px 2px #333;
}

:local(.responsiveLinks) {
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
  display: none;
}

:local(.normalLinks) {
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
}

@media (min-width: 120px) and (max-width: 580px) {
  :local(.header) {
    padding: 10px;
  }

  :local(.normalLinks) {
    display: none;
  }

  :local(.responsiveLinks) {
    display: block;
  }
}
