@import '~Root/styles/colors.less';

:local(.chat) {
  background-color: white;
  padding: 5px 10px;
  border-radius: 15px;
  color: black;
  max-width: 80%;
  word-wrap: break-word;
  margin: 5px 0px !important;
  display: inline-block;
}
