.boxShadow() {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
}

.headerTitle() {
  font-size: 25px;
  color: #333;
  border-bottom: 1px solid #eee;
  padding: 5px;
}

.flexRow() {
  display: flex;
  flex-direction: row;
}

.input() {
  margin: 15px 20px;
  padding: 10px;

  background-color: @white-base;
  color: darken(@white-2, 50%);

  border: none;
  border-radius: 3px;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  -webkit-appearance:none;
  transition: background-color 400ms;

  &:hover, &:focus {
    background-color: darken(@white-base, 5%);
  }
}
