@import '~Root/styles/colors.less';
@import '~Root/styles/mixins.less';

:local(.title) {
  &:extend(.headerTitle);
}

:local(.avatarInput) {
  display: none;
}

:local(.avatarImage) {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

:local(.buttons) {
  display: flex;
}

@media (min-width: 120px) and (max-width: 580px) {
  :local(.setting) {
    padding: 10px;
  }
}
