@import '~Root/styles/colors.less';
@import '~Root/styles/mixins.less';

:local(.setting) {
  width: 70%;
  margin: 25px;
  padding: 30px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  &:extend(.boxShadow);
}

:local(.hr) {
  border-top: 1px solid #eee;
}

:local(.settingTitle) {
  font-family: SB;
  color: #444;
  padding: 10px 0;
  font-size: 20px;
}

:local(.section) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 30px 0;
}

:local(.avatarInput) {
  display: none;
}

:local(.updateBtn) {
  font-size: 16px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 3px;
  font-family: SB;
  color: #444;
  cursor: pointer;

  &:hover {
    color: #111;
    border: 1px solid #999;
  }
}

:local(.deleteBtn) {
  font-size: 16px;
  border: 1px solid @red-2;
  background-color: @red-base;
  font-family: SB;
  padding: 5px;
  border-radius: 3px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: @red-2;
  }
}

:local(.currentValue) {
  display: flex;
  align-items: center;
}

:local(.avatarImage) {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
