@import '~Root/styles/colors.less';

:local(.root) {
  background-color: @background;
  height: 100vh;
}

:local(.container) {
  background-color: white;
  border-radius: 5px;
  margin-top: 10%;
  width: 500px;
}
