{% extends locals.path + '/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
<script src="/socket.io/socket.io.js"></script>
<script src="/files/js/sook.js"></script>
{% endblock %}
