{% extends locals.path + '/u.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<div class="an">
  <h1>Hello {{ user.name.first }}</h1>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
