@import '~Root/styles/colors.less';
@import '~Root/styles/mixins.less';

:local(.normal) {
  transition: all 0.4s;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: @blue-3;
    color: white;
  }
}

:local(.active) {
  background-color: @blue-3;
  color: white;
}

:local(.container) {
  display: flex;
  flex-direction: row;
  background-color: white;
  .boxShadow();
  height: 100%;
}

:local(.nav) {
  display: flex;
  flex-direction: column;
  border-left: 2px solid @background;
  min-width: 150px;

  > * {
    padding: 10px;
  }
}

:local(.content) {
  padding: 10px;
}

@media (max-width: 850px) {
  :local(.nav) {
    min-width: auto;
  }
}
