:local(.container) {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 75px;
  direction: rtl;
  transition: all 0.5s;
  box-sizing: border-box;
  font-family: S;

  * {
    font-family: inherit;
    box-sizing: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: SB;
  }

  p {
    margin: 0;
  }
}
