@import '~Root/styles/colors.less';

:local(.container) {
  margin-right: 190px;
}

:local(.root) {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: @background;
}

@media (min-width: 120px) and (max-width: 580px) {
  :local(.container) {
    margin-right: 70px;
  }
}
