@import '~Root/styles/colors.less';

:local(.root) {
  display: flex;
  flex-direction: row;
}

:local(.container) {
  width: 100%;
}

@media (min-width: 120px) and (max-width: 580px) {
  :local(.container) {
  }
}
