{% extends './layouts/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/tmr.css">
{% endblock %}

{% block content %}
<div>
  <img src="/files/image/sad.png">
  <h1>خطا</h1>
  <h2>
    شما اجازه ورود به این صفحه را ندارید.
  </h2>
  <a href="http://localhost/8010">برگشت به صفحه اصلی</a>
</div>
{% endblock %}
