{% extends './layouts/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/signup.css">
{% endblock %}

{% block content %}
<form
  method="post"
  action="/forgot/changepass"
  name="changepass-form"
  onsubmit="return checkForm()">
  <input
    type="password"
    name="password"
    placeholder="رمز عبور جدید">
  <input
    type="hidden"
    name="code"
    value="{{ code }}">
  <input type="submit" value="تغییر رمز">
</form>
<a href="/forgot">گرفتن کد</a>
{% endblock %}

{% block scripts %}
{% for i in success %}
  <script>
    swal({
      title: 'موفق',
      text: "{{ i }}",
      icon: 'success',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% for i in error %}
  <script>
    swal({
      title: 'خطا',
      text: "{{ i }}",
      icon: 'error',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% for i in warn %}
  <script>
    swal({
      title: 'عجیبه',
      text: "{{ i }}",
      icon: 'warn',
      button: 'باشه'
    });
  </script>
{% endfor %}
<script src="/files/js/validator.js"></script>
<script src="/files/js/changepass.js"></script>
{% endblock %}
