{% extends './layouts/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/signup.css">
{% endblock %}

{% block content %}
<form
  method="post"
  action="/code"
  name="code-form">
  <input
    type="email"
    name="email"
    placeholder="ایمیل"
    required>
  <input
    type="text"
    name="code"
    maxlength="10"
    placeholder="کد فعال سازی"
    required>
  <input type="submit" value="ورود">
</form>
{% endblock %}

{% block scripts %}
{% for i in error %}
  <script>
    swal({
      title: 'خطا',
      text: "{{ i }}",
      icon: 'error',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% for i in success %}
  <script>
    swal({
      title: 'موفق',
      text: "{{ i }}",
      icon: 'success',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% for i in email %}
  <script>
    document.forms['code-form'].email.value = "{{ i }}";
  </script>
{% endfor %}
{% endblock %}
