{% extends './layouts/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/signup.css">
{% endblock %}

{% block content %}
<h1>خوش آمدید</h1>
<h2>برای دریافت ایمیل، فرم زیر را پر کرده و سپس کد را در قسمت تغییر رمز وارد کنید</h2>
<form
  name="forgot-form"
  method="post"
  action="/forgot"
  onsubmit="return checkForm()">
  <input
    type="email"
    name="email"
    placeholder="ایمیل">
  <input type="submit" value="ارسال ایمیل">
</form>
<a href="/changepass">تغییر رمز</a>
{% endblock %}

{% block scripts %}
{% for i in error %}
  <script>
    swal({
      title: 'خطا',
      text: "{{ i }}",
      icon: 'error',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% for i in warn %}
  <script>
    swal({
      title: 'عجیبه',
      text: "{{ i }}",
      icon: 'warn',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% for i in email %}
  <script>
    document.forms['login-form'].email.value = "{{ i }}";
  </script>
{% endfor %}
<script src="/files/js/validator.js"></script>
<script src="/files/js/forgot.js"></script>
{% endblock %}
