{% extends './layouts/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/home.css">
{% endblock %}

{% block content %}
<aside>
  <div class="top-title">
    <h1>ارائه دهنده پشتیبانی آنلاین</h1>
  </div>
</aside>
{% endblock %}

{% block scripts %}
{% endblock %}
