{% extends './layouts/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/home.css">
{% endblock %}

{% block content %}
<aside>
  <div>
    <h1>ارائه دهنده پشتیبانی آنلاین</h1>
  </div>
</aside>
<h1>This is it</h1>
<h1>This is it</h1>
<h1>This is it</h1>
<h1>This is it</h1>
<h1>This is it</h1>
<h1>This is it</h1>
<h1>This is it</h1>
<h1>This is it</h1>
<h1>This is it</h1>
{% endblock %}

{% block scripts %}
{% endblock %}
