{% extends './layouts/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/alert.css">
<link rel="stylesheet" href="/files/css/inputs.css">
{% endblock %}

{% block content %}
<div class="form-container">
<form
  class="login"
  method="post"
  action="/login"
  name="login-form"
  onsubmit="return checkForm()">

  <div class="group">
    <input
    type="email"
    name="email"
    required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>ایمیل</label>
  </div>
  <div class="group">
    <input
    type="password"
    name="password"
    maxlength="200"
    required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>رمز عبور</label>
  </div>
  <input
    type="submit"
    value="ورود">
</form>
</div>
<a href="/code">فعالسازی اکانت</a>
<a href="/forgot">فراموشی رمز</a>
<a href="/resend">دوباره فرستادن کد</a>
{% endblock %}

{% block scripts %}

{% for i in w %}
{% if i == '0' %}
<script>
  const divW = document.getElementById('warn');
  const p = document.createElement('p');
  p.innerHTML = M[1][2];
  divW.appendChild(p);
  divW.style.display = 'block';
</script>
{% endif %}
{% endfor %}
{% for i in s %}
{% if i == '0' %}
<script>
  const divS = document.getElementById('success');
  const p = document.createElement('p');
  p.innerHTML = M[2][2];
  divS.appendChild(p);
  divS.style.display = 'block';
</script>
{% endif %}
{% endfor %}
{% for i in e %}
{% if i == '1' %}
<script>
  const divE = document.getElementById('error');
  const p = document.createElement('p');
  p.innerHTML = M[0][0];
  divE.appendChild(p);
  divE.style.display = 'block';
</script>
{% endif %}
{% endfor %}
{% for i in email %}
  <script>
    document.forms['login-form'].email.value = "{{ i }}";
  </script>
{% endfor %}
  <script src="/files/js/lib/validator.js"></script>
  <script src="/files/js/login.js"></script>
{% endblock %}
