{% extends './layouts/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/signup.css">
{% endblock %}
{% block content %}
<h1>سلام</h1>
<form
  class="login"
  method="post"
  action="/login"
  name="login-form"
  onsubmit="return checkForm()">
  <input
    type="email"
    name="email"
    placeholder="ایمیل"
    required>
  <input
    type="password"
    name="password"
    placeholder="رمز ورود"
    maxlength="200"
    required>
  <input
    type="submit"
    value="ورود">
</form>
<a href="/code">فعالسازی اکانت</a>
<a href="/forgot">فراموشی رمز</a>
<a href="/resend">دوباره فرستادن کد</a>
{% endblock %}

{% block scripts %}
{% for i in success %}
  <script>
    swal({
      title: 'موفق',
      text: "{{ i }}",
      icon: 'success',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% for i in error %}
  <script>
    swal({
      title: 'خطا',
      text: "{{ i }}",
      icon: 'error',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% for i in warn %}
  <script>
    swal({
      title: 'عجیبه',
      text: "{{ i }}",
      icon: 'warn',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% for i in email %}
  <script>
    document.forms['login-form'].email.value = "{{ i }}";
  </script>
{% endfor %}
<script src="/files/js/validator.js"></script>
<script src="/files/js/login.js"></script>
{% endblock %}
