{% extends './layouts/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>@@PROJECTNAME@@</h1>
<a href="/login">ورود</a>
<a href="/signup">ثبت نام</a>
<button id="testa">Try me</button>
{% endblock %}

{% block scripts %}
{% for i in success %}
  <script>
    swal({
      title: 'موفق',
      text: "{{ i }}",
      icon: 'success',
      button: 'باشه'
    });
  </script>
{% endfor %}
<script>
  const test = document.getElementById("testa");
  test.addEventListener('click', () => {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        const obj = JSON.parse(this.responseText);
      }
    };
    xhttp.open("GET", "/teste", true);
    xhttp.send();
  });
</script>
{% endblock %}
