{% extends './layouts/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>@@PROJECTNAME@@</h1>
<a href="/login">ورود</a>
<a href="/signup">ثبت نام</a>
{% endblock %}

{% block scripts %}
{% for i in success %}
  <script>
    swal({
      title: 'موفق',
      text: "{{ i }}",
      icon: 'success',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% endblock %}
