{% extends './layouts/form.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<h1 id="title">فرستادن ایمیل تایید برای تایید حساب</h1>
<div id="login">
  <form
    action="/resend"
    method="post"
    name="resend-form"
    onsubmit="return checkForm()">
    <fieldset>
      <p>
        <input
          type="email"
          name="email"
          placeholder="ایمیل"
          required>
      </p>
      <p>
        <button type="submit">گرفتن کد فعالسازی</button>
      </p>
    </fieldset>
  </form>
</div>
{% endblock %}

{% block scripts %}
{% for i in email %}
  <script>
    document.forms['resend-form'].email.value = '{{ i }}';
  </script>
{% endfor %}
  <script src="/files/js/resend.js"></script>
{% endblock %}
