{% extends './layouts/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/signup.css">
{% endblock %}

{% block content %}
<form
  action="/resend"
  method="post"
  name="resend-form"
  onsubmit="return checkForm()">
  <input
    type="email"
    name="email"
    placeholder="ایمیل">
  <input
    type="submit"
    value="گرفتن کد فعالسازی">
</form>
{% endblock %}

{% block scripts %}
{% for i in email %}
  <script>
    document.forms['resend-form'].email.value = '{{ i }}';
  </script>
{% endfor %}
<script src="/files/js/lib/validator.js"></script>
<script src="/files/js/forgot.js"></script>
{% endblock %}
