{% extends locals.path + '/form.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<h1 id="title">ثبت نام</h1>
<div id="whole-form">
  <form
    action="#"
    method="post"
    name="signup-form">
    <fieldset>
      <p>
        <input
          type="text"
          name="fname"
          placeholder="نام"
          required>
      </p>
      <p>
        <input
          type="text"
          name="lname"
          placeholder="نام خانوادگی"
          required>
      </p>
      <p>
        <input
          type="email"
          name="email"
          placeholder="ایمیل"
          required>
      </p>
      <p>
        <input
          type="password"
          name="password"
          placeholder="رمز"
          required>
      </p>
      <p class="error" id="capslock">دکمه Caps Lock روشنه</p>
      <p id="svg-container"></p>
      <p>
        <input
          type="password"
          name="captcha"
          placeholder="کد امنیتی"
          required>
      </p>
      <p class="error" id="captcha-err"></p>
      <p>حساب داری؟ <a href="/login">وارد شو</a></p>
      <p><button type="submit">ورود</button></p>
    </fieldset>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="/files/js/capslock.js"></script>
<script src="/files/js/signup.js"></script>
{% endblock %}
