<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="پشتیبانی انلاین">
    <meta name="keywords" content="پشتیبانی,انلاین">
    <meta name="author" content="Matin Kaboli, Ali Movahedi">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/files/css/font.css">
    <link rel="stylesheet" href="/files/css/main.css">
    <link href="/files/css/icon.css" rel="stylesheet">
    <link rel="stylesheet" href="/files/css/forms.css">
    <title>@@PROJECTNAME@@</title>
  </head>
  <body>
    <div>
     <div>
       <div class="card">
         <div class="card-right">
           <form action="/signup" method="post">
             <h1>ثبت نام</h1>
             <input
              type="text"
              name="fname"
              placeholder="نام"
              required />
             <input
              type="text"
              name="lname"
              placeholder="نام خانوادگی"
              required />
             <input
              type="email"
              name="email"
              placeholder="ایمیل"
              required />
             <input
              type="password"
              name="password"
              placeholder="رمز ورود"
              maxlength="200"
              required />
              <span id="svg-contain"></span>
             <input
              type="password"
              name="captcha"
              placeholder="کد امنیتی"
              maxlength="200"
              required />
             <div class="row">
               <input type="submit" formaction="/signup" value="ورود"/>
               <a href="/forgot">فراموشی رمز</a>
             </div>
           </form>
         </div>
         <div>
           <h1>ثبت نام</h1>
           <p>اگر در سامانه عضو نیستید به راحتی می توانید همین الان نام نویسی کنید.</p>
           <button onclick="location.href = '/login'">ورود</button>
         </div>
       </div>
     </div>
   </div>
   <script>
     const svgElement = document.getElementById('svg-contain');
     fetch('/recaptcha', {
       credentials: 'include'
     }).then(res => res.json()).then(data => {
       console.log(data);
       svgElement.innerHTML = data.captcha;
     }).catch(() => {
       svgElement.innerHTML = M[0][0];
     });
   </script>
   <script src="/files/js/lib/validator.js"></script>
   <script src="/files/js/signup.js"></script>
  </body>
</html>
