{% extends locals.path + '/form.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<h1 id="title">ثبت نام</h1>
<div id="whole-form">
  <form
    action="#"
    method="post"
    name="signup-form">
    <fieldset>
      <p>
        <input
          type="text"
          name="fname"
          placeholder="نام"
          required>
      </p>
      <p>
        <input
          type="text"
          name="lname"
          placeholder="نام خانوادگی"
          required>
      </p>
      <p>
        <input
          type="email"
          name="email"
          placeholder="ایمیل"
          required>
      </p>
      <p class="error" id="taken">این ایمیل توسط یکی دیگه استفاده شده</p>
      <p class="error" id="email-err">ایمیل معتبر نیست</p>
      <p>
        <input
          type="password"
          name="password"
          placeholder="رمز"
          required>
      </p>
      <p class="error" id="pass-err">رمز باید حداقل ۸ کاراکتر باشد</p>
      <p class="error" id="capslock">دکمه Caps Lock روشنه</p>
      <p id="svg-container"></p>
      <p>
        <input
          type="password"
          name="captcha"
          placeholder="کد امنیتی"
          required>
      </p>
      <p class="error" id="captcha-err">کد امنیتی اشتباهه</p>
      <p>حساب داری؟ <a href="/login">وارد شو</a></p>
      <p><button type="submit">ورود</button></p>
      <p class="error" id="err">خطا! بعدا امتحان کن</p>
      <p class="success" id="signup-done">حسابت ساخته شد، برای ورود باید ایمیلت رو تایید کنی، یه سر به ایمیلت بزن</p>
    </fieldset>
  </form>
</div>
{% endblock %}

{% block scripts %}
  <script src="/files/js/signup.js"></script>
{% endblock %}
