{% extends locals.path + '/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}

		<span>Thin 100</span>
		<div class="font-demo" style="font-weight:100">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>

		<span>Thin 100 Italic</span>
		<div class="font-demo" style="font-weight:100;font-style:italic">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>

		<span>Light 300</span>
		<div class="font-demo" style="font-weight:300">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>

		<span>Light 300 Italic</span>
		<div class="font-demo" style="font-weight:300;font-style:italic">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>

		<span>Regular 400</span>
		<div class="font-demo">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>

		<span>Regular 400 Italic</span>
		<div class="font-demo" style="font-style:italic">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>

		<span>Medium 500</span>
		<div class="font-demo" style="font-weight:500">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>

		<span>Medium 500 Italic</span>
		<div class="font-demo" style="font-weight:500;font-style:italic">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>

		<span>Bold 700</span>
		<div class="font-demo" style="font-weight:700">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>

		<span>Bold 700 Italic</span>
		<div class="font-demo" style="font-weight:700;font-style:italic">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>

		<span>Black 900</span>
		<div class="font-demo" style="font-weight:900">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>

		<span>Black 900 Italic</span>
		<div class="font-demo" style="font-weight:900;font-style:italic">
			AaBbCcDdEeFfGgHhJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789ÄäÖöÜüẞß@€…
		</div>
{% endblock %}

{% block scripts %}
{% endblock %}
