{% extends './layouts/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/tmr.css">
{% endblock %}

{% block content %}
  <div>
    <img src="/files/image/sad.png">
    <h1>به دلیل درخواست های زیاد، IP شما به مدت سه ساعت بن شده است.</h1>
    <p>لطفا بعدا امتحان کنید</p>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
