{% extends './layouts/index.njk' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/files/css/main.css" />
{% endblock %}

{% block content %}
  <h1>درخواست بیش از حد. گمشو بیرون</h1>
{% endblock %}

{% block scripts %}
{% endblock %}
