{% extends './layouts/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>Hello {{ user.name.first }}</h1>
<a href="/setting">Setting</a>
{% endblock %}

{% block scripts %}
{% for i in success %}
  <script>
    swal({
      title: 'موفق',
      text: "{{ i }}",
      icon: 'success',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% for i in error %}
  <script>
    swal({
      title: 'خطا',
      text: "{{ i }}",
      icon: 'error',
      button: 'باشه'
    });
  </script>
{% endfor %}
{% for i in warn %}
  <script>
    swal({
      title: 'عجیبه',
      text: "{{ i }}",
      icon: 'warn',
      button: 'باشه'
    });
  </script>
{% endfor %}
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
{% endblock %}
