.alert {
  width: 100%;
  height: auto;
  padding: 15px;
  font-size: 17px;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  display: none;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
}
#error {
  background-color: #f54d42;
  color: white;
  transition: background-color 500ms;
  border-bottom: 1px solid darken(#f54d42, 10%);
}
#error:hover {
  background-color: darken(#f54d42, 15%);
}
#warn {
  background-color: #ff6f3c;
  color: white;
  transition: background-color 500ms;
  border-bottom: 1px solid darken(#ff6f3c, 10%);
}
#warn:hover {
  background-color: darken(#ff6f3c, 15%);
}
#success {
  background-color: #cbf078;
  color: #140303;
  transition: background-color 500ms;
  border-bottom: 1px solid darken(#cbf078, 10%);
}
#success:hover {
  background-color: darken(#cbf078, 15%);
}
