@import "colors";

#chats {
  position: absolute;
  bottom: 30px;
  left: 30px;
  top: 30px;
  right: 100px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #ddd;
  z-index: -2;
}

.message-box {
  position: relative;
  max-width: 300px;
  padding: 3px 6px 20px 6px;
  overflow-wrap: break-word;
  margin: 5px;
  border-radius: 10px;
  background-color: @red-base;
}

.message-time {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #eee;
  font-size: 15px;
}

#take {
  width: 200px;
  height: 50px;
  text-align: center;
  border: none;
  background-color: @red-2;
  color: white;
  cursor: pointer;
  transition: background-color 500ms;

  &:hover {
    background-color: @red-3;
  }
}

#send-message-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  #message {
    border: 3px solid #46A7F5;
    width: 70%;
    padding: 3px;
    margin: 5px;
    border-radius: 3px;
    display: inline;

    &:hover, &:active {
      box-shadow: 1px 1px 1px 1px #46A7F5;
    }
  }

  #send {
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin: 5px;
    background-color: #2780F8;
    color: white;
    cursor: pointer;
    display: inline;

    &:hover, &:active {
      background-color: darken(#2780F8, 10%);
    }
  }
}

.hidden-el {
  display: none;
}

.op {
  background-color: @blue-1;
}
