@white-base: #F6F6F6;
@white-0: #FFFFFF;
@white-1: #C7C7C7;
@white-2: #9A9999;

@red-base: #EE2B46;
@red-0: #F87A8B;
@red-1: #F45167;
@red-2: #CF0723;
@red-3: #A30016;

@navy-base: #34374C;
@navy-0: #6C6F88;
@navy-1: #4E516C;
@navy-2: #20243E;
@navy-3: #131732;

@midnight-base: #2C2E3E;
@midnight-0: #656981;
@midnight-1: #494C64;
@midnight-2: #1D2037;
@midnight-3: #11142D;

@green-base: #50D426;
@green-0: #8EE872;
@green-1: #6DDD49;
@green-2: #32B907;
@green-3: #239100;

@blue-base: #2570A0;
@blue-0: #69A3C8;
@blue-1: #4184AF;
@blue-2: #0D5A8C;
@blue-3: #06456D;
