@font-face {
  font-family: SamimBold;
  font-weight: bold;
  font-style: normal;
  src: url('../font/Samim-Bold.eot');
  src: url('../font/Samim-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/Samim-Bold.woff') format('woff'),
       url('../font/Samim-Bold.ttf') format('truetype');
}
@font-face {
  font-family: Samim;
  font-style: normal;
  font-weight: 400;
  src: url('../font/Samim.eot');
  src: url('../font/Samim.eot?#iefix') format('embedded-opentype'),
       url('../font/Samim.woff') format('woff'),
       url('../font/Samim.ttf') format('truetype');
}
