@font-face {
  font-family: ISB;
  font-style: normal;
  font-weight: 700;
  src: url(../font/IRANSansWeb_Bold.eot);
  src:
  url(../font/IRANSansWeb_Bold.eot)
    format("embedded-opentype"),
  url(../font/IRANSansWeb_Bold.woff2)
    format("woff2"),
  url(../font/IRANSansWeb_Bold.woff)
    format("woff"),
  url(../font/IRANSansWeb_Bold.ttf)
    format("truetype");
}
@font-face {
  font-family: ISM;
  font-style: normal;
  font-weight: 500;
  src: url(../font/IRANSansWeb_Medium.eot);
  src:
  url(../font/IRANSansWeb_Medium.eot)
    format("embedded-opentype"),
  url(../font/IRANSansWeb_Medium.woff2)
    format("woff2"),
  url(../font/IRANSansWeb_Medium.woff)
    format("woff"),
  url(../font/IRANSansWeb_Medium.ttf)
    format("truetype");
}
@font-face {
  font-family: ISL;
  font-style: normal;
  font-weight: 300;
  src: url(../font/IRANSansWeb_Light.eot);
  src:
  url(../font/IRANSansWeb_Light.eot)
    format("embedded-opentype"),
  url(../font/IRANSansWeb_Light.woff2)
    format("woff2"),
  url(../font/IRANSansWeb_Light.woff)
    format("woff"),
  url(../font/IRANSansWeb_Light.ttf)
    format("truetype");
}
@font-face {
  font-family: ISUL;
  font-style: normal;
  font-weight: 200;
  src: url(../font/IRANSansWeb_UltraLight.eot);
  src:
  url(../font/IRANSansWeb_UltraLight.eot)
    format("embedded-opentype"),
  url(../font/IRANSansWeb_UltraLight.woff2)
    format("woff2"),
  url(../font/IRANSansWeb_UltraLight.woff)
    format("woff"),
  url(../font/IRANSansWeb_UltraLight.ttf)
    format("truetype");
}
@font-face {
  font-family: IS;
  font-style: normal;
  font-weight: 400;
  src: url(../font/IRANSansWeb.eot);
  src:
  url(../font/IRANSansWeb.eot)
    format("embedded-opentype"),
  url(../font/IRANSansWeb.woff2)
    format("woff2"),
  url(../font/IRANSansWeb.woff)
    format("woff"),
  url(../font/IRANSansWeb.ttf)
    format("truetype");
}
