@charset "utf-8";
@import "colors";

* {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

#title {
  margin-top: 20px;

  color: white;

  text-align: center;
  font-size: 35px;
  transition: color 300ms;

  &:hover {
    color: darken(white, 5%);
  }
}

.error {
  width: 100%;
  padding: 0;

  color: @red-1;

  display: none;
  font-family: SB;
  text-align: center;
  font-size: 16px;
  text-transform: none;
  text-align: center;
  transition: color 500ms;

  &:hover {
    color: darken(@red-1, 15%);
  }
}

.success {
  margin: 10px 0;

  color: @green-base;

  display: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: SB;
  transition: color 500ms;

  &:hover {
    color: darken(@green-base, 15%);
  }
}

#svg-container {
  color: @red-1;
  text-align: center;
}

body {
  margin: 0;

  background-color: @midnight-base;
	color: @white-1;
	font: 100% / 1.5em;

  div#whole-form {
    margin: 50px auto;
    width: 300px;

    a {
      text-decoration: none;
    }

    h1, p {
    	margin-bottom: 10px;
    }

    form {

      fieldset {

        input {
          width: 280px;
          height: 50px;
          padding: 0px 10px;

        	background-color: @white-base;
          color: darken(@white-2, 50%);

        	border: none;
        	border-radius: 3px;
        	font-family: inherit;
        	font-size: 14px;
        	outline: none;
          -webkit-appearance:none;
          transition: background-color 400ms;

          &:hover, &:focus {
            background-color: darken(@white-base, 5%);
          }
        }

        button {
          width: 300px;
          height: 50px;

          background-color: @blue-base;
          color: white;

        	border: none;
        	border-radius: 3px;
        	cursor: pointer;
        	font-family: inherit;
        	text-transform: uppercase;
          -webkit-appearance:none;
          transition: background-color 500ms;

          &:hover, &:focus {
            background-color: darken(@blue-base, 10%);
          }
        }

        a {
        	color: @white-2;
        	font-size: 15px;
          transition: color 500ms;

          &:hover, &:focus {
            text-decoration: underline;
            color: darken(@white-2, 10%);
          }
        }
      }
    }
  }
}

header {
  width: 100%;

  ul {
    margin: 20px 20px 0 20px;

    display: flex;
    justify-content: center;

    li {
      display: inline;
      margin: 0 20px 0 20px;

      a {
        color: white;
        font-size: 20px;
        position: relative;
        display: inline-block;

        &::before, &::after {
          position: absolute;
          color: transparent;
          top: 50%;
          transition: all 0.3s;
        }

        &::before {
          content: ']';
          left: -15px;
          transform: translate(-20px, -50%) scale(0.5, 0.5);
        }

        &::after {
          content: '[';
          right: -15px;
          transform: translate(20px, -50%) scale(0.5, 0.5);
        }

        &:hover::before, &:hover::after {
          color: white;
          transform: translate(0px, -50%) scale(1, 1);
        }

        &:hover, &:active {
          color: darken(white, 10%);
        }
      }
    }
  }
}

@media (min-width: 120px) and (max-width: 580px) {
  header {
    ul {
      justify-content: space-between;
      margin: 5px;

      li {
        margin: 0 3px 0 3px;
      }
    }
  }
}
