@charset "utf-8";
@body-color: #5a5656;
@input-background: #e5e5e5;
@error-color: #f44336;
@success-color: #cbf078;

* {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

#title {
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  transition: color 300ms;

  &:hover {
    color: darken(@body-color, 5%);
  }
}

.error {
  display: none;
  text-align: center;
  font-family: SB;
  color: @error-color;
  padding: 0;
  text-align: center;
  width: 100%;
  text-transform: none;
  font-size: 16px;
  transition: color 500ms;

  &:hover {
    color: darken(@error-color, 15%);
  }
}

.success {
  display: none;
  color: @success-color;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: SB;
  margin: 10px 0;
  transition: color 500ms;

  &:hover {
    color: darken(@success-color, 15%);
  }
}

body {
	background: #f4f4f4;
	color: @body-color;
	font: 100% / 1.5em;
  margin: 0;

  div {
    margin: 50px auto;
    width: 300px;

    a {
      text-decoration: none;
    }

    h1, p {
    	margin-bottom: 10px;
    }

    form {

      fieldset {

        input {
        	background-color: @input-background;
        	border: none;
        	border-radius: 3px;
        	color: @body-color;
        	font-family: inherit;
        	font-size: 14px;
        	height: 50px;
        	outline: none;
        	padding: 0px 10px;
        	width: 280px;
          -webkit-appearance:none;
          transition: background-color 400ms;

          &:hover {
            background-color: darken(@input-background, 5%);
          }
        }

        button {
          background-color: #008dde;
        	border: none;
        	border-radius: 3px;
        	color: #f4f4f4;
        	cursor: pointer;
        	font-family: inherit;
        	height: 50px;
        	text-transform: uppercase;
        	width: 300px;
          -webkit-appearance:none;
          transition: background-color 500ms;

          &:hover {
            background-color: darken(#008dde, 10%);
          }
        }

        a {
        	color: @body-color;
        	font-size: 12px;
          transition: color 500ms;

          &:hover {
            text-decoration: underline;
            color: darken(@body-color, 10%);
          }
        }
      }
    }
  }
}
