@import "colors.less";

body {
  background-color: @white-gray;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  padding: 20px 35px 20px 35px;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
  font-size: 18px;
  left: 0;
  right: 0;
  top: 0;
  box-sizing: border-box;
  z-index: 999;
  max-height: 100px;
  background-color: @navy-blue;
  display: flex;
  justify-content: space-between;
  align-content: center;

  a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
    transition: color 300ms;

    &:hover {
      color: darken(white, 10%);
    }
  }

  &:first-child {

    ul {
      list-style: none;

      li {
        display: inline;

        a {
          position: relative;
          display: inline-block;

          &:before, &:after {
            position: absolute;
            color: transparent;
            top: 50%;
            transition: all 0.3s;
          }

          &:before {
            content: ']';
            left: -15px;
            transform: translate(-20px, -50%) scale(0.5, 0.5);
          }

          &:after {
            content: '[';
            right: -15px;
            transform: translate(20px, -50%) scale(0.5, 0.5);
          }

          &:hover:before, &:hover:after {
            color: white;
            transform: translate(0px, -50%) scale(1, 1);
          }
        }
      }
    }
  }

  & #list-links {
    position: fixed;
    height: 100%;
    top: 70px;
    width: 80%;
    max-width: 400px;
    background: @medium-gray;
    box-shadow: -3px 0 10px rgba(0,0,0,0.2);

    &:not(:target) {
      right: -100%;
      transition: right 500ms;
    }

    &:target {
      right: 0;
      transition: right 500ms;
    }
  }
}

#project-min-name {
  display: none;
}

a[href="#list-links"] {
  display: none;
}

a[href="#"] {
  display: none;
}

aside {
  margin-top: 70px;
}

@media (min-width: 120px) and (max-width: 580px) {

  #project-min-name {
    display: block;
  }

  #project-name {
    display: none;
  }

  header ul {
    display: none;
  }

  a[href="#list-links"] {
    display: inline;
  }
}
