@import "colors";
@error-color: #f44336;
@success-color: #cbf078;

body {
    margin: 0;
}

#sign-in, #sign-up {
  cursor: pointer;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  display: flex;

  &:not(:target) {
    transform: rotate(90deg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms, visibility 800ms transform 800ms;
  }

  &:target {
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms, visibility 800ms transform 800ms;
  }

  #container {
    border-radius: 1px;
    height: auto;
    margin: 0 auto;
    width: 50%;
    height: 90%;
    background-color: #fff;
    padding: 4px 20px 40px 20px;
    text-align: center;
    background-image: url('../image/form-bg.jpg');
    position: relative;
  }

  #exit-link {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 35px;
    color: white;

    &:hover {
      color: darken(white, 15%);
    }
  }

  .wrap {
    width: 400px;
    margin: 0 auto;

    .headings {
      margin: 10px auto 10px;

      & > a:first-child {
        margin-left: 20px;
        margin-right: 45px;
      }

      & > a {
        color: rgba(255, 255, 255, 0.4);
        padding-bottom: 10px;
        display: inline-block;
      }

      & > a:after {
        display:block;
        content: '';
        height: 3px;
        width: 0%;
        background: #1161ED;
        margin: auto;
        transition: width 250ms ease-in-out;
      }

      & > a:hover, & > a.active {
        color: rgba(255, 255, 255, 1);
      }

      & > a:hover::after, & > a.active::after {
        width: 100%;
      }

      & > a span {
        font-size: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    #forget-password {
      color: white;
      font-size: 18px;
    }
  }

  form {
    margin: 10px 0;
  }

  .capslock {
      color: #F44336;
      padding: 0;
      text-align: center;
      width: 100%;
      text-transform: none;
      font-size: 16px;
  }

  input {
      width: 100%;
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1px;
      background: rgba(255, 255, 255, 0.1);
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      box-sizing: border-box;
      border: 2px solid rgba(255, 255, 255, 0);
      margin: 10px 0;
  }

  input:active,
  input:focus {
      border: 2px solid rgba(255, 255, 255, 0.6);
  }

  .btn {
    width: 100%;
    padding: 12px;
    cursor: pointer;
    font-family: SB;
    box-shadow: 0px 10px 40px 0px rgba(17, 97, 237, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s ease;


    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #4082f5;
    border-radius: 0.6em;
    color: #4082f5;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    justify-content: center;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 35px;

    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }
  }

  .fifth {
    border-color: #4082f5;
    color: #4082f5;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 100%;
      background: #4082f5;
      z-index: -1;
      transition: width 150ms ease-in-out;
    }

    &:hover {
      color: #fff;
      &:after {
        width: 110%;
      }
    }
  }

  #sign-in-container {
      display: block;
  }

  #sign-up-container {
      display: none;
  }
}

.error {
  display: none;
  text-align: center;
  font-family: SB;
  color: @error-color;
  padding: 0;
  text-align: center;
  width: 100%;
  text-transform: none;
  font-size: 16px;
  transition: color 500ms;

  &:hover {
    color: darken(@error-color, 15%);
  }
}

.success {
  display: none;
  color: @success-color;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: SB;
  margin: 10px 0;
  transition: color 500ms;

  &:hover {
    color: darken(@success-color, 15%);
  }
}

@media (max-width: 1024px) {
  .container {
    top: 5vh;
  }
}

@media (max-width: 524px) {
    #container {
      height: auto;
      margin: 0 auto;
      width: 80%;
      height: 85%;
      padding: 10px;
      position: relative;
    }

    .wrap {
        width: 80%;
    }
}

@media (max-width: 399px) {
  .container {
    top: 2vh;
  }

  .container-shadow {
    width: 100%;
    margin: 0px;
    left: inherit;
  }

  .container {
    width: 100%;
    margin: 0px;
    left: inherit;
  }
}

@media (max-width:330px) {
    .wrap {
        width: 90%
    }
}
