@import "colors";

nav {
  position: absolute;
  width: 70px;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: @midnight-base;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      display: block;
      margin-top: 15px;

      a {
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;
        transition: transform 300ms;

        &:hover {
          transform: scale(1.1);
          color: darken(white, 10%);
        }

        span {
          visibility: hidden;
          width: 120px;
          background-color: white;
          color: black;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 85;
          top: 2.5px;
          right: 110%;
          opacity: 0;
          box-shadow: 0 3px 3px rgba(0,0,0,.3);
          transition: opacity 500ms, right 300ms;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent white;
          }
        }

        &:hover span {
          visibility: visible;
          opacity: 1;
          right: 150%;
        }

        i {
          font-size: 35px;
        }
      }
    }
  }
}

aside {
  margin: 0 85px 0 0;
}
