{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/site-box.css">
{% endblock %}

{% block content %}
<div id="sites-box">
  <h3 id="membership">پشتیبان ها</h3>
  {% for operator in operators %}
  <div class="site">
    <div class="icon-male site-icon"></div>
    <span id="op-email">{{operator.email}}</span>
    <span class="site-link">{{ operator.name.first }}</span>

    <form
      action="/u/site/id/operators/remove"
      id="remove-operator-form"
      name="remove-operator-form"
      method="post"
      style="display: inline;">

      <input type="hidden" name="id" value="{{ operator._id }}">
      <button class="site-setting" type="submit">حذف</button>

    </form>
  </div>
  <div class="site-breaker"></div>
  {% endfor %}
  <div class="add-operator-box">
    <form
      method="post"
      action="/u/site/id/operators/add"
      name="add-operator-form"
      id="add-operator-form"
      class="hidden-box">

      <input
        type="text"
        name="email"
        required
        placeholder="ایمیل پشتیبان">

      <button type="submit">اضافه کردن</button>

    </form>
  </div>

  <div id="create-site">
    <a
      href="/u/site/id/operators/add"
      id="add-operator">
      اضافه کردن پشتیبان...
    </a>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="/files/js/lib/validator.js"></script>
  <script src="/files/js/make-operator-link.js"></script>
  <script src="/files/js/add-operator.js"></script>
{% endblock %}
