{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/chats.css">
{% endblock %}

{% block content %}
<div id="chats">
  <div class="messages" id="messages">
    {% for chat in chat.chats %}
    <div id="{{ chat.time }}" class="message-box">
      <p class="chat-message">{{ chat.message }}</p>
      <script>
      var d = new Date('{{ chat.time }}');
      var time = `${d.getHours()}:${d.getMinutes()}`;
      var p = document.createElement('p');
      p.setAttribute('class', 'message-time')
      p.innerHTML = time;
      document.getElementById('{{ chat.time }}').appendChild(p);
      </script>
    </div>
    {% endfor %}
  </div>
  <div id="send-message-form" class="hidden-el">
    <input type="text" id="message" />
    <button id="send">send</button>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>var chatID = '{{ chat._id }}';</script>
<script src="/files/js/chat.js"></script>
{% endblock %}
