{% extends locals.path + '/reply.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/tmr.css">
{% endblock %}

{% block content %}
<div>
  <img src="/files/image/sad.png">
  <h1>خطا</h1>
  <h3>
    صفحه مورد نظر پیدا نشد.
  </h3>
  <a href="/">برگشت به صفحه اصلی</a>
</div>
{% endblock %}
