{% extends locals.path + '/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<form
  method="post"
  action="/u/site/{{id}}/operators/add">
  <input
    type="text"
    name="email"
    placeholder="operator email">
  <input type="submit" value="add">
</form>
{% endblock %}

{% block scripts %}
{% endblock %}
