@import '~Root/styles/colors.less';

:local(.container) {
  height: 100%;
}

:local(.header) {
  background-color: white;
  padding: 10px;
}

:local(.avatar) {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

:local(.info) {
  display: flex;
  flex-direction: row;
  align-items: center;

  > p {
    margin-right: 10px;
  }
}

:local(.heightDone) {
  height: ~'calc(100% - 100px)';
}

:local(.heightUndone) {
  height: ~'calc(100% - 175px)';
}

:local(.content) {
  overflow-y: auto;
}

:local(.footer) {
  padding: 10px;
}

:local(.input) {
  width: ~'calc(100% - 100px)';
  padding: 5px 8px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: S;
}

:local(.button) {
  border-radius: 30px;
  outline: none;
  border: 0;
  padding: 8px;
  margin-right: 5px;
  width: 90px;
  background-color: @green-2;
  color: white;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: @green-base;
  }
}
