@import '~Root/styles/colors.less';
@import '~Root/styles/mixins.less';

:local(.normal) {
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid @blue-2;
  }
}
:local(.active) {
  border-bottom: 2px solid @blue-2;
}

:local(.container) {
  display: flex;
  flex-direction: row;
  background-color: white;
  .boxShadow();
  min-height: 50%;
}

:local(.nav) {
  display: flex;
  flex-direction: column;
  border-left: 1px solid @background;
  min-width: 150px;

  > * {
    padding: 10px;
  }
}
