{% extends './layouts/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/home.css">
{% endblock %}

{% block content %}
<aside>
  <div id="bg1" class="bg">
    <h1>ارائه دهنده پشتیبانی آنلاین</h1>
  </div>
  <div id="about1">
    <div class="column">
      <div class="icon-bolt icon"></div>
      <h1>Speeds up development</h1>
      <p class="detail-column">We did most of the heavy
        lifting for you to provide a default
         stylings that incorporate our custom
         components. Additionally, we refined animations and
         transitions to provide a smoother experience for developers.
       </p>
    </div>
    <div class="column">
      <div class="icon-users icon"></div>
      <h1>Speeds up development</h1>
      <p class="detail-column">We have provided detailed documentation
        as well as specific code examples to help new use
        rs get started. We are also always open to
         feedback and can answer any
        questions a user may have about Materialize.
       </p>
    </div>
    <div class="column">
      <div class="icon-cog icon"></div>
      <h1>Speeds up development</h1>
      <p class="detail-column">By utilizing elements and principles
        of Material Design, we were able to create
         a framework that incorporates components
          and animations that provide more feedback
           to users. Additionally, a single underlying
            responsive system across all platforms
            allow for a more unified user experience.
       </p>
    </div>
  </div>
  <div id="bg2" class="bg">
    <h1>
      A modern responsive front-end framework based on Material Design
    </h1>
  </div>
  <div id="about2">
    <h1>Contact Us</h1>
    <p>Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.
    nullam scelerisque id nunc nec volutpat.
    Etiam pellentesque tristique arcu,
    non consequat magna fermentum ac.
    Cras ut ultricies eros.
    Maecenas eros justo, ullamcorper a sapien id,
    viverra ultrices eros. Morbi sem neque,
    posuere et pretium eget, bibendum sollicitudin lacus.
    Aliquam eleifend sollicitudin diam,
    eu mattis nisl maximus sed.
    Nulla imperdiet semper molestie.
    Morbi massa odio, condimentum sed ipsum ac,
    gravida ultrices erat. Nullam eget dignissim mauris,
    non tristique erat.
    Vestibulum ante ipsum primis in faucibus
    orci luctus et ultrices posuere cubilia Curae;
    </p>
  </div>
  <div id="bg3" class="bg">
    <h1>
      A modern responsive front-end framework based on Material Design
    </h1>
  </div>
</aside>
{% endblock %}

{% block scripts %}
<script src="/files/js/home.js"></script>
{% endblock %}
