@import '~Root/styles/colors.less';
@import '~Root/styles/mixins.less';

:local(.title) {
  .headerTitle();
}

:local(.container) {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  > div {
    width: 85%;
  }
}

:local(.messages) {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

:local(.time) {
  opacity: 0.7;
  font-size: 0.7rem;
}

:local(.CUSTOMER) {
  direction: ltr;
}

:local(.CLIENT) {
  background-color: @blue-base;
  direction: rtl;
}

:local(.message) {
  padding: 5px 20px;
  border-radius: 15px;
  word-wrap: break-word;
  margin: 5px 0px !important;
  display: block;
}


:local(.send) input {
  width: 250px;
  padding: 5px 8px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: S;
}

:local(.button) {
  border-radius: 30px;
  outline: none;
  border: 0;
  padding: 8px;
  margin-right: 5px;
  width: 70px;
  background-color: @green-2;
  color: white;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: @green-base;
  }
}
