{% extends locals.path + '/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<form
  method="post"
  action="/forgot/changepass"
  name="changepass-form"
  onsubmit="return checkForm()">
  <fieldset>
    <p>
      <input
        type="password"
        name="password"
        value="رمز جدید"
        onBlur="if(this.value=='')this.value='رمز جدید'"
        onFocus="if(this.value=='رمز جدید')this.value=''"
        required>
    </p>
    <p>
      <input
        type="hidden"
        name="code"
        value="{{ code }}">
    </p>
    <p>
      <button type="submit">تغییر رمز</button>
    </p>
  </fieldset>
</form>
{% endblock %}

{% block scripts %}
  <script src="/files/js/changepass.js"></script>
{% endblock %}
