{% extends locals.path + '/index.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<form
  method="post"
  action="#"
  name="changepass-form">
  <fieldset>
    <p>
      <input
        type="password"
        name="password"
        placeholder="رمز جدید"
        required>
    </p>
    <p>
      <input
        type="hidden"
        name="code"
        value="{{ code }}">
    </p>
    <p>
      <button type="submit">تغییر رمز</button>
    </p>
  </fieldset>
</form>
{% endblock %}

{% block scripts %}
  <script src="/files/js/changepass.js"></script>
{% endblock %}
