{% extends locals.path + '/form.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<h1 id="title">فراموشی رمز</h1>
<div id="login">
  <form
    name="forgot-form"
    method="post"
    action="/forgot"
    onsubmit="return checkForm()">
      <fieldset>
        <p>
          <input
            type="email"
            name="email"
            placeholder="ایمیل"
            required>
        </p>
        <p>
          <button type="submit">ارسال ایمیل</button>
        </p>
      </fieldset>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/files/js/forgot.js"></script>
{% endblock %}
