:local(.container) {
  width: 75px;
  padding: 10px;
  border-radius: 3px;
}

:local(.container-active) {
  width: 350px;
}

:local(.circle) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 0px;
  cursor: pointer;
  transition: all 0.3s;
}

:local(.circle-active) {
  background-color: red;
  border-radius: 0%;
  width: 300px;
  height: auto;
  text-align: right;
  padding: 10px;
  justify-content: flex-start;
  cursor: text;
}
