@import '~Root/styles/colors.less';

@warning: #FA7E2D;

@keyframes serverMessage {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes customerMessage {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

:local(.chat) {
  padding: 5px 20px;
  border-radius: 15px;
  max-width: 80%;
  word-wrap: wrap;
  margin: 5px 0px !important;
  display: inline-block;
}

:local(.customer) {
  direction: ltr;
}

:local(.message-customer) {
  background-color: white;
  color: black;
  animation-name: customerMessage;
  animation-duration: 0.6s;
}

:local(.server) {
  direction: rtl;
}

:local(.message-server) {
  background-color: @blue-base;
  color: white;
  animation-name: serverMessage;
  animation-duration: 0.6s;
}

:local(.time) {
  opacity: 0.7;
  font-size: 0.7rem;
}
