{% extends locals.path + '/u.njk' %}

{% block head %}
{% endblock %}

{% block content %}
<div id="chat-list">
  {% for chat in chats %}
  <a href="/u/chats/{{chat._id}}">{{chat.site.name}}</a>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="/files/js/lib/nunjucks.min.js"></script>
<script src="/files/templates/chats.js"></script>
{% endblock %}
