{% extends locals.path + '/index.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/signup.css">
{% endblock %}

{% block content %}
<form
  action="/u/setting"
  method="post"
  name="main-form"
  onsubmit="return checkForm()">
  <input
    type="text"
    value="{{ user.name.first }}"
    placeholder="نام"
    name="fname"
    maxlength="20"
    required>
  <input
    type="text"
    value="{{ user.name.last }}"
    placeholder="نام خانوادگی"
    maxlength="20"
    name="lname"
    required>
  <input
    type="email"
    name="email"
    placeholder="ایمیل"
    value="{{ user.email }}"
    maxlength="100"
    required>
  <input
    type="submit"
    value="ثبت تغییرات">
</form>
<form
  action="/u/setting/password"
  method="post"
  name="pass-form"
  onsubmit="return checkPassForm()">
  <input
    type="password"
    placeholder="رمز کنونی"
    name="oldpass"
    maxlength="200"
    required>
  <input
    type="password"
    placeholder="رمز جدید"
    name="newpass"
    maxlength="200"
    required>
  <input
    type="submit"
    value="تغییر رمز">
</form>
<form
  name="delete-form"
  action="/u/setting/delete"
  method="post">
  <input type="submit" value="حذف حساب">
</form>
{% endblock %}

{% block scripts %}
<script src="/files/js/lib/validator.js"></script>
<script src="/files/js/setting.js"></script>
{% endblock %}
