<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/files/css/font.css">
    <link rel="stylesheet" href="/files/css/main.css">
    <script src="/files/js/lib/sweetalert.min.js"></script>
    {% if title %}
    <title>@@PROJECTNAME@@ - {{ title }}</title>
    {% else %}
    <title>@@PROJECTNAME@@</title>
    {% endif %}
    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    {% block head %}
    {% endblock %}
  </head>
  <body>

    {% block content %}
    {% endblock %}

    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    {% block scripts %}
    {% endblock %}
  </body>
</html>
