<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="پشتیبانی انلاین">
    <meta name="keywords" content="پشتیبانی,انلاین">
    <meta name="author" content="Matin Kaboli, Ali Movahedi">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/files/css/font.css">
    <link rel="stylesheet" href="/files/css/main.css">
    {% if title %}
    <title>@@PROJECTNAME@@ - {{ title }}</title>
    {% else %}
    <title>@@PROJECTNAME@@</title>
    {% endif %}
    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    {% block head %}
    {% endblock %}
  </head>
  <body>

    {% block content %}
    {% endblock %}

    {% for item in locals.footer %}
      {{ item | safe }}
    {% endfor %}

    <script>
    const report = {{locals.report}};
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
