<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="پشتیبانی انلاین">
    <meta name="keywords" content="پشتیبانی,انلاین">
    <meta name="author" content="Matin Kaboli, Ali Movahedi">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/files/css/font.css">
    <link rel="stylesheet" href="/files/css/main.css">
    <link rel="stylesheet" href="/files/css/site.css">
    <link href="/files/css/icon.css" rel="stylesheet">
    <link href="/files/css/modal.css" rel="stylesheet" type="text/css">
    <script src="/files/js/messages.js"></script>
    <title>@@PROJECTNAME@@</title>
    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div id="open-close-bar">
        <a href="#list-links"><i class="icon-bars"></i></a>
        <a href="#"><i class="icon-bars"></i></a>
      </div>
      <div id="list-links">
        <ol>
          <li><a href="#modal-container">ورود</a></li>
          <li><a href="#modal-container">ثبت نام</a></li>
        </ol>
      </div>
      <div>
        <h3><a href="/">@@PROJECTNAME@@</a></h3>
      </div>
    </header>
    <aside>
    {% block content %}
    {% endblock %}
    </aside>
    <div id="modal-container">
    <div id="container">
      <a id="exit-link" href="#a">
        <i class="icon-times"></i>
      </a>
      <div class="wrap">

        <div class="headings">
          <a id="sign-in" class="active"><span>ورود</span></a>
          <a id="sign-up"><span>ثبت نام</span></a>
        </div>

        <div id="sign-in-container">
            <form
              class="login"
              method="post"
              action="/login"
              name="login-form"
              onsubmit="return checkForm()">
                <input class="email"
                 class="draw" type="email"
                 name="email" placeholder="ایمیل" required>
                 <div class="email-error error" style="display:none;">
                   <span>ایمیل صحیح نمیباشد</span>
                 </div>
                <input class="password"
                type="password" name="password"
                placeholder="رمز عبور" required>
                <div class="capslock error" style="display:none;">
                  <span>کلید Caps Lock روشن است</span>
                </div>
                <button class="btn fifth" type="submit">ورود</button>
            </form>
            <a href="/forgot" id="forget-password">فراموشی رمز</a>
        </div>
        <div id="sign-up-container">
          <form
            method="post"
            action="/signup"
            name="signup-form"
            onsubmit="return checkForm()">
            <input
            type="text"
            name="fname"
            placeholder="نام"
            required>
            <input
            type="text"
            name="lname"
            placeholder="نام خانوادگی"
            required>
            <input type="email" name="email"
              placeholder="ایمیل"
             class="email" required>
             <div class="email-error error" style="display:none;">
               <span>ایمیل صحیح نمیباشد</span>
             </div>
            <input class="password" type="password"
            placeholder="رمز عبور"
            name="password" required>
            <div class="capslock error" style="display:none;">
              <span>کلید Caps Lock روشن است</span>
            </div>
            {{ captcha | safe }}
            <div><input
            type="password"
            name="captcha"
            maxlength="10"
            placeholder="کد امنیتی"
            required
            style="display: inline;">
            <button id="change-captcha">تغییر کد امنیتی</button>
          </div>
            <button class="btn fifth" type="submit">ثبت نام</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <footer>
      <p>ساخته شده با <i class="icon-heart"></i></p>
    </footer>
    {% for item in locals.footer %}
      {{ item | safe }}
    {% endfor %}

    <script>
    const report = {{locals.report}};
    </script>
    <script src="/files/js/lib/validator.js"></script>
    <script src="/files/js/linktoggle.js"></script>
    <script src="/files/js/capslock.js"></script>
    <script src="/files/js/header.js"></script>
    <script src="/files/js/recaptcha.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
