<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="پشتیبانی انلاین">
    <meta name="keywords" content="پشتیبانی,انلاین">
    <meta name="author" content="Patronix Team">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/files/css/font-fa.css">
    <link rel="stylesheet" href="/files/css/font-en.css">
    <link rel="stylesheet" href="/files/css/main.css">
    <link rel="stylesheet" href="/files/css/site.css">
    <link rel="stylesheet" href="/files/css/icon.css">
    <link rel="stylesheet" href="/files/css/lib/izi.min.css">
    <title>@@PROJECTNAME@@</title>
    {% for item in locals.header %}
      {{ item | safe }}
    {% endfor %}

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div id="open-close-bar">
        <a href="#list-links"><i class="icon-bars"></i></a>
        <a href="#"><i class="icon-bars"></i></a>
      </div>
      <div id="list-links">
        <ol>
          <li><a href="/login">ورود</a></li>
          <li><a href="/signup">ثبت نام</a></li>
        </ol>
      </div>
      <div>
        <h3><a href="/">@@PROJECTNAME@@</a></h3>
      </div>
    </header>
    <aside>
    {% block content %}
    {% endblock %}
    </aside>
    {% for item in locals.footer %}
      {{ item | safe }}
    {% endfor %}

    <script>
    const report = {{locals.report}};
    </script>
    <script src="/files/js/q.js"></script>
    <script src="/files/js/lib/validator.js"></script>
    <script src="/files/js/messages.js"></script>
    <script src="/files/js/header.js"></script>
    <script src="/files/js/lib/izi.min.js"></script>
    <script src="/files/js/common-funcs.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
