{% extends locals.path + '/u.njk' %}

{% block head %}
<link rel="stylesheet" href="/files/css/chat.css">
{% endblock %}

{% block content %}
<div id="chat-list">
  <input type="search" placeholder="جستجو" id="search-chat">
  {% for chat in chats %}
  <a href="/u/chat/{{chat._id}}">
    <div class="one-chat">
      <p class="chat-name">{{chat.site.name}}</p>
  </div>
  </a>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="/files/js/lib/nunjucks.min.js"></script>
<script src="/files/templates/chats.js"></script>
{% endblock %}
